body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 10px;
}

.left td {
    user-select: none;
}

.items td {
    text-align: center;
}

.item {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 75px;
    will-change: transform;
}

.item::before {
    content: "Item " counter(item);
    counter-increment: item;
}

.item.reset {
    transform: initial;
    transition: transform 0.4s ease-in-out;
}

.grid {
    counter-reset: item;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: space-around;
    user-select: none;
    width: 50%;
}

.vending {
    background-repeat: no-repeat;
    background-size: contain;
}
.vending .left {
    background-image: url('assets/vending-right.png');
    background-position: right;
}
.vending .right {
    background-image: url('assets/vending-left.png');
    background-position: left;
}
.vending .top {
    background-image: url('assets/vending-top.png');
    background-position: bottom;
}
.vending .bottom {
    background-image: url('assets/vending-bottom.png');
    background-position: top;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#header > h1 {
    margin-right: 1em;
}

#workspace {
    display: flex;
    flex-flow: row nowrap;
    width: calc(100vw-10px);
    height: 85vh;
    max-height: 100vh;
}
    
/*
                Portrait	Landscape
iPhone 5s	        320	        568
iPhone 6	        375	        667
iPhone 6 Plus	    414	        736
*/

@media (orientation: portrait) and (max-width: 320px) {
    
}

@media (orientation: landscape) and (max-width: 568px) {
    
}
