@viewport {
    orientation: portait;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.left td {
    border: 1px solid gray;
    background-color: black;
    user-select: none;
}

.right {
    background-color: gray;
    user-select: none;
}

.items {
    left: 1em;
}

.items td {
    text-align: center;
}

.item {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 75px;
    will-change: transform;
}

.item.reset {
    transform: initial;
    transition: transform 0.4s ease-in-out;
}

.grid {
    border: 1px solid #999;
    height: 78vh;
    width: 94vw;
    user-select: none;
}
    
/*
                Portrait	Landscape
iPhone 5s	        320	        568
iPhone 6	        375	        667
iPhone 6 Plus	    414	        736
*/

@media (orientation: portrait) {
    
}

@media (orientation: landscape) {
    
}
